*{
    margin:0; /* 브라우저 기본 요소의 디자인을 없애자는 것 */
    padding:0;
    font:inherit; /* 초기화 */
    color: inherit;
}
*, :after,:before{
    box-sizing: border-box;
    flex-shrink: 0; /* 원본의 콘텐츠가 잘리지 않고 크기대로 나와주기 위함 */
}

:root{
    -webkit-tap-highlight-color: transparent; /* 모바일에서 클릭 시 검은색 영역이 사라짐 */
    -webkit-text-size-adjust: 100%; /* 모바일에서도 원래의 폰트 크기대로 출력 */
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word; /* 띄어쓰기가 없이 글자를 입력하면 wrap이 되지 않고 삐져나가는 일이 없음. */
    word-break: break-word;
    tab-size:4
}

html, body{
    height: 100%;
}

img,picture,video,canvas,svg{ /* 본래 4px씩 여백이 생기는데, 미디어 컨텐츠는 block 취급을 받게 하여 생기지 않게 함 */
    display: block;
    max-width: 100%;
}

button{
    background: none;
    border: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

/* kakao.com reset.css */

 blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {margin:0;padding:0}
fieldset, img {border:0}
dl, li, menu, ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:after, blockquote:before, q:after, q:before {content:"";content:none}
button, input, select, textarea {vertical-align:middle;font-size:100%}
button {border:0;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none}
input:checked[type=checkbox] {background-color:#666;-webkit-appearance:checkbox}
html input[type=button], input[type=email], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text] {-webkit-appearance:none;border-radius:0}
input[type=search]::-webkit-search-cancel-button {-webkit-appearance:none}
body {background:var(--baseBackground)}
body, button, input, select, td, textarea, th {font-size:14px;line-height:1.5;font-family:KakaoSmall, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, sans-serif;font-weight:400;color:#333}
a {color:#333}
a, a:active, a:hover {text-decoration:none}
address, caption, cite, code, dfn, em, var {font-style:normal;font-weight:400}