header{width: 1920px;height: 200px;}
.logo{width: 300px;float:left;background-color: #ccc;}
.main_menu{width: 1620px;float: left;}
.sub_menu{width: 100%;height: 100px;float: right;}
.sub_menu li{float: left;}
.menu_list{width: 1620px;height: 100px;}
.menu_list li{float: left;width: 25%;}
